.ciselnik {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.stranka{
    padding: 6px 12px;
    color: var(--bs-brown-pilot);
    text-decoration: none;
    font-size: 1.0625rem;
    background-color: white;
    border: 1px solid var(--bs-brown-pilot);
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.stranka.aktualni{
    background-color: var(--bs-brown-pilot);
    color: var(--bs-brown-light);
}
.stranka:hover{
    background-color: var(--bs-brown-pilot);
    color: var(--bs-brown-light);
}

.ciselnik a{
    text-decoration: none;

}