.lista {
    background-color: #2F1107;
    color: #EFE6E0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

.infobox {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.info {
    margin: 10px;
}

a {
    text-decoration: none;
    color: #EFE6E0;
}

#nazev {
    font-size: 2.3em;
}
