* {
    font-family: "Raleway", sans-serif;

}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    /* filter: grayscale(100%); */
    /* background-image: url("../images/depositphotos_635479520-stock-photo-background-texture-old-brick-wall.jpg");
background-size: cover;
background-repeat:no-repeat; */
    /* display: flex;
    align-content: center; */
}
