* {
    font-family: "Raleway", sans-serif;
}

body {
    margin: 0px;
}

.tabulka {
    display: flex;
    flex-direction: column;
    margin: 10px;
    /* background-color: #FFDD79; */

}

#lide {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.clovek {
    padding: 10px;
    margin-right: 2px;
    background-color: #FFCC38;
    border-radius: 0;
    border-radius: 10px 10px 0 0 ;
}

.active {
    background-color: #FFDD79;
}

#data {
    padding: 10px;
    background-color: #FFDD79;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.radek_tabulky{
    padding: 10px;
}

#ix{
    background: transparent url("../images/ix.svg") center/1em auto no-repeat;
    width: 1em;
    height: 1em;
}