<<<<<<< HEAD
.report{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.report_name{
    font-weight: bold;
}
.nahlaseno{
    margin-top: 10px;
=======
.report{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.report_name{
    font-weight: bold;
}
.nahlaseno{
    margin-top: 10px;
>>>>>>> 7414d3c5cb25979073ea471cd9ccf7779ad002b1
}