* {
    display: inline;
    stroke: black;
    stroke-width: 0.2px;
}
#rect2668{
    fill: #979797;
    stroke:none
}
tspan {
    stroke: none;
}

.cislo {
    display: none;
    font-size: 4.2px;
    /* filter: url(#pozadi); */
}

.hranice {
    fill: #9999;
    opacity: 0.5;
}

.text tspan {
    fill: black;
    display: inline;
    font-size: 10.5px;
}

.dum {
    fill: #ab8041;
    stroke-width: 0.4px;
}

.zdi {
    fill: #ba9257;
}
.novy{
    fill: #6d5d44;
    display: inline;
}

.nove {
    display: inline;
}
.stare{
    display: inline;
}

.zboreny {
    display: inline;
}

.napulskryte{
    fill: url(#Strips1_1);
    fill-opacity: 0.1;
    stroke-dasharray:0.26458299,0.26458299;
}
.skryte{
    display: none;
}

#V_Sinkach tspan {
    font-size: 7px;
}

#U_Koupadel tspan {
    font-size: 6.5px;
}

#U_Vazne_studny tspan {
    font-size: 10px;
}

#Zborovska tspan {
    font-size: 8.5px;
}

#Pod_Klasterem tspan {
    font-size: 9px;
}

#Velenova tspan {
    font-size: 7px;
}

#Jostova tspan {
    font-size: 6.3px;
}

#V_Zahradach tspan {
    font-size: 7.8px;
}

#Zastrizlova tspan {
    font-size: 9px;
}

#Ve_Spitalku tspan {
    font-size: 4px;
}

/* zdi stojici
hranice
dum novy
dum zboreny 
zdi zboreny
dum stojici
zdi stojici
text ulice nazev zboreny
text ulice nazev
cislo stare
cislo nove
*/